h2, h3 {
    font-size: 1.5em;
    flex: 1;
}

#reset {
   height: 60px;
   width: 60px;
   /* position:absolute;
   top: 50px;
   left: 400px;  */
   margin-left: 10px;
   border-radius: 8px;
   padding: 10px;
   box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
}

#information{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(143, 200, 250);
    margin-right: 10px;
}

.Help{
    position: fixed;
    left: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;

}



input, #check{
/*     margin-bottom: 60px; */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
}

input{
    margin-left: 10px;
}

#AppCounter1, #AppCounter2{
    font-size: 1.5em;
    /*font-weight: bold;*/
    margin-left: 20px;

} 

.counter, .counter2, .informationBox{
    display: flex;
    align-content: flex-start;
    align-items: baseline;

}

#checkmark, #wrongsign{
    display: none; 
    font-size: 2em;
}

.controls-container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.informationBox {
    display: none;
    background-color: rgb(143, 200, 250);
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 50px;
}


.container{
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: rgb(143, 200, 250);
    border-radius: 10px;
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    padding: 20px; /* Adds padding inside the container */
}





